* {
	 transition:all 0.3s ease;
}
body {
	background: #888d80;
	font-family: 'Poppins', sans-serif;
	padding: 50px 0;
	color: #2f3937;
}

h1 {
	font-size: 38px;
	line-height: 45px;
}

h2 {
	font-size: 28px;
}
h2.title {
	font-size: 30px;
}

h3 {
	font-size: 26px;
}
h4 {
	font-size: 22px;
}


.link {
	color: #2f3937;
	text-decoration: none;
}
.link:hover,
.link:focus {
	color: #bdc488;
	transition: all 320ms ease-in-out 0s;
}

.mid-container {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	box-sizing: border-box;
}

.wrapper {
	width: 100%;
	max-width: 1450px;
	margin: 0 auto;
	box-sizing: border-box;
}


.main-content {
	background: #fafaf8;
	border-radius: 30px;
	box-sizing: border-box;
	padding: 60px 0;
	width: 100%;
}

.main-container {
	padding-left: 60px !important;
	padding-right: 60px !important;
	box-sizing: border-box;
}

/** Header */
.main-header {
	margin-bottom: 100px;
}
.main-header .column {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__brand a {
	display: flex;
	text-decoration: none;
	align-items: center;
	color: #2f3937;
}
.header__brand img {
	width: 100%;
	max-width: 50px;
	margin-right: 10px;
}
.header__brand span {
	font-size: 40px;
}


/** Navigation */
.header__nav .mb-menu {
	display: none;
}
.header__nav {
	display: flex;
	align-items: center;
}
nav.nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav.nav ul li {
	display: inline-block;
	margin-right: 20px;
}
nav.nav ul li:last-child {
	margin-right: 0px;
}
nav.nav ul li a {
	color: #2f3937;
	font-weight: 600;
	font-size: 16px;
	text-decoration: none;
}
nav.nav ul li a:hover,
nav.nav ul li a:focus {
	color: #bdc488;
	transition: all 320ms ease-in-out 0s;
}

.mb-navigation {
	display: none;
	padding: 30px 0;
}
.mb-navigation.active {
	display: block;
}
.mb-navigation nav.nav {
	text-align: center;
	margin-bottom: 20px;
}
.mb-navigation .header__socialmedia {
	text-align: center;
}
.mb-navigation .header__socialmedia a {
	display: inline-block;
}

/** Social Icon */
.header__socialmedia {
	margin-left: 20px;
}
.header__socialmedia a {
	display: block;
	background: #2f3937;
	padding: 5px;
	text-decoration: none;
	border-radius: 50%;
}
.header__socialmedia a:hover,
.header__socialmedia a:focus {
	color: #bdc488;
	transition: all 320ms ease-in-out 0s;
}
.header__socialmedia a i {
	color: #ffffff;
	font-size: 38px;
}


/** Banner **/
.main-banner h1 {
	margin: 0;
	margin-bottom: 20px;
}
.main-banner p {
	margin: 0;
	margin-bottom: 20px;
}
.main-banner .column {
	display: flex;
	align-items: center;
}
.main-banner .hero__left {
	width: 50%;
	box-sizing: border-box;
}
.main-banner .hero__btn {
	display: flex;
	margin-bottom: 20px;
}
.main-banner .hero__btn .btn-default {
	margin-right: 7.5px;
}
.main-banner .hero__btn .btn-primary {
	margin-left: 7.5px;
}

.btn {
	font-family: 'Pou', sans-serif;
	font-size: 28px;
	display: inline-block;
	width: 100%;
	text-align: center;
	height: 55px;
	line-height: 55px;
	box-sizing: border-box;
	background: gray;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
}
.btn.btn-default {
	line-height: 50px;
	background: transparent;
	border: 3px solid #2f3937;
	color: #2f3937;
}
.btn.btn-default:hover,
.btn.btn-default:focus {
	color: #bdc488;
	border-color: #bdc488;
	transition: all 320ms ease-in-out 0s;
}

.btn.btn-primary {
	background: #2f3937;
	color: #ffffff;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
	background: #bdc488;
	transition: all 320ms ease-in-out 0s;
}

.main-banner .hero__right {
	width: 50%;
	box-sizing: border-box;
	text-align: center;
	padding-left: 25px;
}
.main-banner .hero__right img {
	width: 100%;
}
.main-banner .hero__right figcaption {
	font-size: 14px;
	font-weight: 300;
	font-style: italic;
}


/** Feature */
.main-feature {
	box-sizing: border-box;
	padding: 100px 0;
}
.main-feature .feature__row {
	display: flex;
	margin-bottom: 50px;
}
.main-feature .feature__row:last-child {
	margin-bottom: 0;
}

.feature__left {
	width: 50%;
	box-sizing: border-box;
	padding-right: 10px;
}
.feature__right {
	width: 50%;
	box-sizing: border-box;
	padding-left: 10px;
}
.feature__thumbnail {
	display: flex;
	position: relative;
}
.feature__thumbnail .ft__left {
	position: absolute;
}
.feature__thumbnail .ft__left img {
	width: 150px;
}
.feature__thumbnail .ft_right {
	margin-left: 130px;
}


/** Usage **/
.main-usage {
	background: #f2f2eb;
	padding-top: 50px;
	padding-bottom: 50px;
}
.main-usage h2 {
	margin: 0;
	margin-bottom: 40px;
}
.usage__mobile_nav {
	display: none;
}
.usage__desktop_nav .btn-usage-nav.active {
	color: red;
	position: relative;
}
.usage__desktop_nav .btn-usage-nav.active:before {
	content: "";
	display: block;
	position: absolute;
	left: -25px;
	top: 0;
	width: 8px;
	height: 100%;
	background-image: url(active-tab-border.svg);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;

}

#usage-content-panel,
#usage-content-section,
#usage-content-field {
	display: none;
}
#usage-content-panel.active,
#usage-content-section.active,
#usage-content-field.active {
	display: block;
}

.usage__tab {
	display: flex;
}

.usage__nav {
	width: 40%;
	box-sizing: border-box;
	padding-right: 20px;
}
.usage__content {
	width: 60%;
	box-sizing: border-box;
	padding-left: 20px;
}
.usage__nav .usage__desktop_nav {
	list-style: none;
	padding: 0;
	margin: 0;
}
.usage__nav .usage__desktop_nav li {
	cursor: pointer;
	color: #a4a8a3;
	margin-left: 25px;
	padding: 15px 0;
}
.usage__nav .usage__desktop_nav li.active {
	color: #2f3937;
}
.usage__nav .usage__desktop_nav h3 {
	margin: 0;
	margin-bottom: 5px;
}
.usage__nav .usage__desktop_nav p {
	margin: 0;
}

.usage__content h4 {
	margin: 0;
}

.usage__mobile_nav {
	list-style: none;
	margin: 0;
	padding: 0;
	display: none;
}
.usage__mobile_nav li {
	font-family: 'Pou', sans-serif;
	font-size: 26px;
	padding: 0 20px;
	border-radius: 5px;
	background: red;
	height: 55px;
	line-height: 55px;
	color: #a4a8a3;
	background: transparent;
	cursor: pointer;
}
.usage__mobile_nav li.active {
	background: #2f3937;
	color: #ffffff;
}

/**  Message **/
.main-message {
	padding: 50px 0;
}
.main-message p {
	width: 100%;
	max-width: 650px;
	margin: 0 auto; 
	margin-bottom: 40px;
}
.main-message .btn {
	max-width: 250px;
}

/** Footer **/
.main-footer {
	color: #ffffff;
	text-align: center;
	padding: 20px;
}
.main-footer a {
	color: #ffffff;
	text-decoration: none;
	font-weight: 600;
}
.main-footer a:hover,
.main-footer a:focus {
	color: #bdc488;
	transition: all 320ms ease-in-out 0s;
}


/** Media Query **/
@media only screen and ( max-width: 1500px ) {
	.wrapper {
		max-width: 1200px;
	}
}

@media only screen and ( max-width: 1250px ) {
	.wrapper {
		max-width: 1000px;
	}
	.main-banner .column {
		align-items: normal;
	}
}
@media only screen and ( max-width: 1050px ) {
	.wrapper {
		max-width: 768px;
	}
	.main-header {
		margin-bottom: 50px;
	}
	.header__nav nav.nav,
	.header__nav .header__socialmedia {
		display: none;
	}
	.header__nav .mb-menu {
		display: block;
	}

	/** Banner */
	.main-banner .column {
		flex-direction: column;
	}
	.main-banner .hero__left {
		width: 100%;
		order: 1;
	}
	.main-banner .hero__right {
		width: 100%;
		order: 0;
		padding:0;
		margin-bottom: 40px;
	}
	
	/** Feature **/
	.main-feature {
		padding: 70px 0;
	}
	.main-feature .feature__row {
		flex-direction: column;
		margin: 0;
	}
	.feature__thumbnail {
		margin-bottom: 40px;
	}
	.feature__left,
	.feature__right {
		width: 100%;
		padding: 0;
	}

	/** Usage **/
	.usage__tab {
		flex-direction: column;
	}
	.usage__nav {
		width: 100%;
		padding: 0;
		margin-bottom: 40px;
	}
	.usage__content {
		width: 100%;
		padding: 0;
	}
	.usage__desktop_nav {
		display: none;
	}
	.usage__mobile_nav {
		display: flex;
		flex-wrap: wrap;
	}
}
@media only screen and ( max-width: 800px ) {
	.wrapper {
		max-width: 600px;
	}

	.main-banner .hero__btn {
		flex-direction: column;
	}
	.main-banner .hero__btn .btn-default {
			margin: 0;
			margin-bottom: 15px;
	}
	.main-banner .hero__btn .btn-primary {
			margin: 0;
	}
}
@media only screen and ( max-width: 620px ) {
	body {
		padding: 0;
	}
	h1 {
		font-size: 32px;
		line-height: 39px;
	}
	h2 {
		font-size: 26px;
	}
	h2.title {
		font-size: 28px;
	}
	h3 {
		font-size: 24px;
	}
	h4 {
		font-size: 20px;
	}

	.btn {
		font-size: 24px;
	}
	.wrapper {
		max-width: 100%;
	}
	.main-content {
		border-radius: 0;
		padding: 40px 0;
	}
	.main-container {
		padding-left: 40px !important;
		padding-right: 40px !important;
	}


	/** Feature **/
	.feature__thumbnail .ft__left img {
		width: 130px;
	}
	.feature__thumbnail .ft_right {
		margin-left: 100px;
	}

	/** Usage **/
	.usage__mobile_nav li {
		font-size: 24px;
	}

}

@media only screen and ( max-width: 500px ) {
	.main-content {
		padding: 30px 0;
	}
	.main-container {
		padding-left: 30px !important;
		padding-right: 30px !important;
	}
}

@media only screen and ( max-width: 450px ) {
	.feature__thumbnail .ft__left img {
		width: 100px;
	}
	.feature__thumbnail .ft_right {
		margin-left: 80px;
	}
}
